#container, #footer, #header .gnbWrap {
    position: relative;
    width: 100%;
    text-align: center;
}
#container {
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
    padding: 0;
}

#div_cont .con {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
.top_wrap {
	position: relative;
	height: 815px;
	overflow: hidden;
	background: #fff url('../images/campus_common/2020_team/top_bg.jpg') center top no-repeat;
}
.top_wrap .con {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
.div_con5 {
	position: relative;
	overflow: hidden;
	padding: 90px 0 110px;
}
.div_con5 .con {
	position: relative;
}
.div_con5 ul {
	overflow: hidden;
}
.div_con5 ul li {
	display: block;
	float: left;
	border:1px solid #d9d9d9;
	width:478px; height:548px;
	margin-bottom:50px;
	color:#555;
	font-weight:bold;
}
.div_con5 ul li .title_wrap {background:#f4f4f4; position:relative; padding:25px 40px 37px; height:55px; font-size:17px; letter-spacing:-1;}
.div_con5 ul li .title_wrap .team_stu {font-size:20px; color:#151ab2; display:block;}
.div_con5 ul li .title_wrap .team_stu em {font-size:27px; color:#010101;}
.div_con5 ul li .title_wrap .team_sc {font-size:17px; color:#555; font-weight:normal; vertical-align:top; margin-top:10px; display:block;}
.div_con5 ul li .title_wrap .team_sc em {background: url('../images/campus_common/2020_team/con02_img02.png') 100% 70% no-repeat; padding-right:10px; margin-right:7px;}
.div_con5 ul li .title_wrap .team_code {background: url('../images/campus_common/2020_team/con02_img01.png') 100% 70% no-repeat; width:66px; height:66px; color:#fff; font-weight:bold; line-height:64px; display:block; position:absolute; top:23px; right:30px; font-size:17px; text-align:center; text-indent:-2px;}
.div_con5 ul li.c_even {
	margin-left:1px;
}

.div_con5 ul li .title {padding:25px 40px 19px; line-height:27px; font-size:17px; color:#000;}
.div_con5 ul li .team_contents {font-weight:normal; font-size:14px; line-height:25px; color:#777; padding:0 40px;}
.div_con5 ul li .team_contents span {color:#151ab2; font-size:14px;}
.div_con5 .more_btn {background:#f0f0f0; height:60px; text-align:center; cursor:pointer;}
.div_con5 .more_btn span {font-size:20px; color:#000; margin-top:16px; padding-left:25px; background: url('../images/campus_common/2020_team/con02_img03.png') 0 70% no-repeat; display:inline-block;}

.div_con3 {
	position: relative;
	overflow: hidden;
	padding: 90px 0 110px;
}
.div_con3 .con {
	position: relative;
}
.div_con3 ul {
	overflow: hidden;
}
.div_con3 ul li {
	display: inline-block;
	float: left;
	border:1px solid #d9d9d9;
	width:478px; height:548px;
	margin-bottom:50px;
	color:#555;
	font-weight:bold;
}
.div_con3 ul li .title_wrap {background:#f4f4f4; position:relative; padding:25px 40px 37px; height:55px; font-size:17px; letter-spacing:-1;}
.div_con3 ul li .title_wrap .team_stu {font-size:20px; color:#151ab2; display:block;}
.div_con3 ul li .title_wrap .team_stu em {font-size:27px; color:#010101;}
.div_con3 ul li .title_wrap .team_sc {font-size:17px; color:#555; font-weight:normal; vertical-align:top; margin-top:10px; display:block;}
.div_con3 ul li .title_wrap .team_sc em {background: url('../images/campus_common/2020_team/con02_img02.png') 100% 70% no-repeat; padding-right:10px; margin-right:7px;}
.div_con3 ul li .title_wrap .team_code {background: url('../images/campus_common/2020_team/con02_img01.png') 100% 70% no-repeat; width:66px; height:66px; color:#fff; font-weight:bold; line-height:64px; display:block; position:absolute; top:23px; right:30px; font-size:17px; text-align:center; text-indent:-2px;}
.div_con3 ul li.c_even {
	margin-left: 40px;
}
.div_con3 ul li .title {padding:25px 40px 19px; line-height:27px; font-size:17px; color:#000;}
.div_con3 ul li .team_contents {font-weight:normal; font-size:14px; line-height:25px; color:#777; padding:0 40px;}
.div_con3 ul li .team_contents span {color:#151ab2; font-size:14px;}
.div_con3 .more_btn {background:#f0f0f0; height:60px; text-align:center; cursor:pointer;}
.div_con3 .more_btn span {font-size:20px; color:#000; margin-top:16px; padding-left:25px; background: url('../images/campus_common/2020_team/con02_img03.png') 0 70% no-repeat; display:inline-block;}
.list_wrap {padding-left: 0px;}
#div_cont {
	color: #333;
	font-size: 13px;
	font-family: "MalGun Gothic";
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: -1.5px;
}
#div_cont {
	width: 100%;
	text-align: center;
	clear: both;
	position: relative;
	overflow: hidden;
}